<template>
    <div class="container">
        <van-nav-bar title="服务" class="nav" :border="false" />
        <div class="content">
            <div class="card">
                <img src="@assets/service/company.png" />
                <div class="text">企业档案</div>
            </div>
            <div class="card">
                <img src="@assets/service/bank.png" />
                <div class="text">银行账户档案</div>
            </div>
        </div>
        <van-tabbar route>
            <van-tabbar-item icon="home-o" to="/service">服务</van-tabbar-item>
            <van-tabbar-item icon="search" to="/record">记录</van-tabbar-item>
            <van-tabbar-item icon="friends-o" to="/user">我的</van-tabbar-item>
        </van-tabbar>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            value: '',
            active: 'service'
        };
    },
    computed: {},
    watch: {},
    methods: {
        handleClick() {
            console.log(this.value);
        }
    }
};
</script>
<style lang="scss" scoped>
.content {
    .card {
        margin: 50px 7%;
        height: 435px;
        display: flex;
        align-items: center;
        background: #fff;
        font-size: 60px;
        img {
            width: 480px;
            height: 430px;
        }

        .text {
            flex: 1;
            text-align: center;
        }
    }
}
</style>
