<template>
    <div class="container">
        <van-nav-bar
            title="修改密码"
            left-arrow
            right-text="保存"
            @click-left="onClickLeft"
            @click-right="onClickRight"
        />
        <div class="card">
            <van-cell-group>
                <van-field label="用户名" :value="form.user" readonly />
                <van-field v-model="form.oldPwd" type="password" label="旧密码" />
                <van-field v-model="form.newPwd" type="password" label="新密码" />
                <van-field v-model="form.repeatPwd" type="password" label="确认密码" />
            </van-cell-group>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {
                user: '谢静星',
                oldPwd: '',
                newPwd: '',
                repeatPwd: ''
            }
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/user/setting');
        },
        onClickRight() {
            //保存
        }
    }
};
</script>
<style lang="scss" scoped>
.currentVersion {
    text-align: center;
    height: 400px;
    background: #fff;
}
</style>
