<template>
    <div class="container">
        <van-nav-bar
            title="个人资料"
            right-text="保存"
            left-arrow
            @click-left="onClickLeft"
            @click-right="onClickRight"
        />
        <div class="card">
            <van-cell is-link to="index">
                <template #title> <i></i>头像 </template>
                <template #right-icon>
                    <img :src="photo" />
                </template>
            </van-cell>
        </div>
        <div class="card">
            <van-cell-group>
                <van-field v-model="form.name" label="姓名" placeholder="请输入用户名" />
                <van-field
                    readonly
                    clickable
                    label="性别"
                    :value="form.sex"
                    placeholder="选择性别"
                    @click="showPicker = true"
                />
                <van-field
                    readonly
                    clickable
                    label="职务"
                    :value="form.sex"
                    placeholder="选择职务"
                    @click="showPicker = true"
                />
                <van-field
                    readonly
                    clickable
                    label="所属机构"
                    :value="form.sex"
                    placeholder="选择所属机构"
                    @click="showPicker = true"
                />
                <van-popup v-model="showPicker" round position="bottom">
                    <van-picker
                        show-toolbar
                        :columns="sexList"
                        @cancel="showPicker = false"
                        @confirm="onConfirm"
                    />
                </van-popup>
            </van-cell-group>
        </div>
        <div class="card">
            <van-cell-group>
                <van-field v-model="form.id" label="警员ID" placeholder="请输入警员ID" />
                <van-field v-model="form.phone" label="联系电话" placeholder="请输入联系电话" />
            </van-cell-group>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            photo: require('@assets/common/photo.png'),
            form: {
                name: '谢静星',
                sex: '男',
                id: 324234,
                phone: '432534453'
            },
            sexList: ['男', '女'],
            showPicker: false
        };
    },
    computed: {},
    watch: {},
    methods: {
        onClickLeft() {
            this.$router.push('/user');
        },
        onClickRight() {
            console.log(this.value);
        },
        onConfirm(value) {
            this.form.sex = value;
            this.showPicker = false;
        }
    }
};
</script>
<style lang="scss" scoped>
.card{
    margin: 40px 0;
   
}
</style>
