<template>
    <div class="container">
        <van-nav-bar title="维护人员信息" left-arrow @click-left="onClickLeft" />
        <div class="card">
            <van-cell-group>
                <van-field v-model="form.company" label="维护公司" readonly />
                <van-field v-model="form.person" label="维护人员" readonly/>
            </van-cell-group>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form:{
                company: '南京华飞数据技术有限公司',
                person: '张三，李四'
            }
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/user');
        }
    }
};
</script>
<style lang="scss" scoped>
.currentVersion{
    text-align: center;
    height: 400px;
    background: #fff;
    
}
</style>