<template>
    <div class="container">
        <van-nav-bar title="积分" left-arrow @click-left="onClickLeft" />
        <div class="currentScore">
            <div class="name">我的积分</div>
            <div class="num">1700</div>
        </div>
        <ul class="tab">
            <li @click="activeTab = 0">积分记录</li>
            <li @click="activeTab = 1">积分兑换</li>
        </ul>
        <div class="scoreList content" v-show="activeTab === 0">
            <van-list
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="onLoad"
            >
                <div class="item" v-for="(item, index) in list" :key="index">
                    <span class="source">{{ item.source }}</span>
                    <span class="time">{{ item.time }}</span>
                    <span class="score">+{{ item.score }}</span>
                </div>
            </van-list>
        </div>
        <div class="content queryContent" v-show="activeTab === 1">
            <img/>
            <div class="title">档案查询次数</div>

            <van-stepper v-model="queryTimes" />
            <van-button type="info">{{queryTimes * 10}}积分兑换</van-button>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            loading: false,
            finished: false,
            queryTimes: 0,
            activeTab: 0
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/user');
        },
        onClickRight() {
            //保存
        },
        onLoad() {
            // 异步更新数据
            // setTimeout 仅做示例，真实场景中一般为 ajax 请求
            setTimeout(() => {
                for (let i = 0; i < 10; i++) {
                    this.list.push({
                        source: '银行卡采集',
                        time: '2021-03-12 12:13:40',
                        score: 10
                    });
                }

                // 加载状态结束
                this.loading = false;

                // 数据全部加载完成
                if (this.list.length >= 20) {
                    this.finished = true;
                }
            }, 1000);
        }
    }
};
</script>
<style lang="scss" scoped>
.tab{
    height: 120px;
    display: flex;
    justify-content: space-around;

    li{
        width: 30%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &.current{
            color: #ff0000;
        }
    }
}

.scoreList{
    background:#fff;
    margin: 30px;
    .item{
        padding: 20px 40px;
        height: 120px;
        display: flex;
        align-items: center;

        .source{
            flex: 0 0 400px;
        }
        .time{
            flex: 1;
        }
        .score{
            text-align: right;
        }
    }
}

.queryContent{
    text-align: center;
}
</style>
