<template>
    <div class="container">
        <van-nav-bar title="设置" left-arrow @click-left="onClickLeft" />
        <div class="card">
            <van-cell title="修改密码" is-link to="/user/pwd" />
            <van-field
                readonly
                clickable
                label="设置语言"
                :value="lang"
                @click="showPicker = true"
            />
            <van-popup v-model="showPicker" round position="bottom">
                <van-picker
                    show-toolbar
                    :columns="langList"
                    @cancel="showPicker = false"
                    @confirm="onConfirm"
                />
            </van-popup>
        </div>
        <div class="card">切换账号</div>
        <div class="card">
            <router-link to="/">退出账号</router-link></div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            lang: '简体中文',
            showPicker: false,
            langList: ['简体中文', '繁体中文', '英文', '粤语']
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/user');
        },
        onConfirm(value) {
            this.lang = value;
            this.showPicker = false;
        }
    }
};
</script>
<style lang="scss" scoped>
.currentVersion {
    text-align: center;
    height: 400px;
    background: #fff;
}
</style>
