<template>
    <div class="container">
        <van-nav-bar title="我的" class="nav" :border="false" />
        <div class="content">
            <div class="card infoCard">
                <img :src="photo" />
                <div class="inner">
                    <div class="item">
                        <span class="name">谢惊醒</span>
                        <van-tag round type="primary">大队长</van-tag>
                    </div>
                    <div class="item department">广州市公安局XX支队</div>
                    <div class="item desc">
                        <span class="key">警员ID:</span><span class="id">4345345</span>
                    </div>
                    <div class="item desc">
                        <span class="key">积 分:</span><span class="score">80</span>
                    </div>
                </div>
                <router-link to="/user/info">跳转</router-link>
            </div>
            <div class="card">
                <van-cell is-link to="/user/version">
                    <template #title> <i></i>版本信息 </template>
                    10.0.10
                </van-cell>
                <van-cell is-link to="/user/maintenance">
                    <template #title> <i></i>维护人员信息 </template>
                    产品技术相关
                </van-cell>
            </div>

            <div class="card">
                <van-cell is-link to="/user/setting">
                    <template #title> <i></i>设置 </template>
                    登录/退出操作
                </van-cell>
            </div>
        </div>
        <van-tabbar route>
            <van-tabbar-item icon="home-o" to="/service">服务</van-tabbar-item>
            <van-tabbar-item icon="search" to="/record">记录</van-tabbar-item>
            <van-tabbar-item icon="friends-o" to="/user">我的</van-tabbar-item>
        </van-tabbar>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            value: '',
            active: 2,
            photo: require('@assets/common/photo_big.png')
        };
    },
    computed: {},
    watch: {},
    methods: {
        editInfo() {
            this.$router.push({ path: '/user/info' });
        },
        toScore() {
            this.$router.push({ path: '/user/score' });
        }
    }
};
</script>
<style lang="scss" scoped>
.card {
    background: #fff;
    padding: 20px 20px 20px 40px;
    margin: 40px 6% 0;

    &.infoCard {
        display: flex;
        padding: 100px 40px 90px 80px;
        img {
            margin-right: 56px;
            width: 222px;
            height: 222px;
        }

        .inner {
            flex: 1;
        }

        .item {
            line-height: 60px;

            &.department {
                color: #909aad;
                font-size: 30px;
            }

            &.desc {
                font-size: 26px;
                display: flex;

                .key {
                    margin-right: 10px;
                }

                .score {
                    color: #36b393;
                }
            }
        }

        .name {
            font-size: 42px;
            margin-right: 30px;
        }
    }
}
</style>
