<template>
    <div class="container">
        <van-nav-bar title="版本信息" left-arrow @click-left="onClickLeft" />
        <div class="currentVersion">
            <img :src="logo" />
            <div class="versionText">v2.10.1</div>
            
        </div>
        <div class="card">
            <van-cell title="v2.10.1" is-link />
            <van-cell title="v2.9.1" is-link />
            <van-cell title="v2.8.0" is-link />
            <van-cell title="v2.7.0" is-link />
            <van-cell title="v2.6.9" is-link />
            <van-cell title="v2.5.9" is-link />
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            logo: require('@assets/common/logo.png')
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/user');
        }
    }
};
</script>
<style lang="scss" scoped>
.currentVersion{
    text-align: center;
    height: 400px;
    background: #fff;
    
}
</style>