// 全局演示变量
// $headerHeight: px2rem(35);    // 蓝色框高度
// $statusBarHeight: px2rem(42); // 蓝色顶部上内边距
// $navHeight: px2rem(40);       // 导航高度
// $thirdHeight: px2rem(44);    // 第三行高度
// $searchHeight: px2rem(88);
// $inputSearchHeight: px2rem(30);    //input搜索高度
// $inputSearchHeightMargin: px2rem(10); //input搜索高度上下外边距和
