@import './dimens';
@import './reset';
html,
body {
    width: 100%;
    height: 100%;
    color: #333333;
    user-select: none;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.container {
    background: #f0f5ff;
    flex: 1 1 auto;
    min-width: 0;
    font-size: 36px;

    .nav {
        background: url(~@assets/common/title.png) top center no-repeat;
        font-size: 50px;

        .van-nav-bar__title{
            color: #fff;
        }
    
    }
}
