<template>
    <div class="container">
        <div class="content">
            <van-cell-group>
                <van-field required v-model="form.id" label="银行卡号" />
                <van-field
                    v-model="form.location"
                    is-link
                    readonly
                    label="地区"
                    placeholder="请选择所在地区"
                    @click="show = true"
                />
                <van-popup v-model="show" round position="bottom">
                    <van-cascader
                        v-model="cascaderValue"
                        title="请选择所在地区"
                        :options="options"
                        @close="show = false"
                        @finish="onFinish"
                    />
                </van-popup>
                <van-field required v-model="form.source" label="开户行" />
                <van-cell title="开户时间" :value="form.date" @click="calendarShow = true" />
                <van-calendar v-model="calendarShow" @confirm="calendarConfirm" />
                <van-field
                    required
                    v-model="form.type"
                    label="开户类型"
                    @click="showPicker = true"
                />
                <van-field
                    required
                    v-model="form.status"
                    label="开户状态"
                    @click="showPicker = true"
                />
            </van-cell-group>

            <van-popup v-model="showPicker" round position="bottom">
                <van-picker
                    show-toolbar
                    :columns="list"
                    @cancel="showPicker = false"
                    @confirm="onConfirm"
                />
            </van-popup>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showPicker: false,
            list: ['信用卡', '借记卡'],
            form: {
                id: '4234234234234',
                location: '广州市越秀区',
                source: '中国建设银行越秀支行',
                date: '2001-01-01',
                type: '信用卡',
                status: '正常'
            },
            show: false,
            fieldValue: '',
            cascaderValue: '',
            options: [
                {
                    text: '浙江省',
                    value: '330000',
                    children: [{ text: '杭州市', value: '330100' }]
                },
                {
                    text: '江苏省',
                    value: '320000',
                    children: [{ text: '南京市', value: '320100' }]
                }
            ],
            calendarShow: false
        };
    },
    methods: {
        onConfirm(value) {
            //确认
            this.form.type = value;
            this.showPicker = false;
        },
        onFinish({ selectedOptions }) {
            this.show = false;
            this.form.location = selectedOptions.map(option => option.text).join('/');
        },
        formatDate(date) {
            return `${date.getMonth() + 1}/${date.getDate()}`;
        },
        calendarConfirm(date) {
            this.calendarShow = false;
            this.form.date = this.formatDate(date);
        }
    }
};
</script>
<style lang="scss" scoped></style>
