<template>
    <div class="container">
        <van-nav-bar
            title="采集记录"
            class="nav"
            :border="false"
            left-arrow
            @click-left="onClickLeft"
        >
            <template #right>
                <van-icon name="plus" />
            </template>
        </van-nav-bar>
        <van-search v-model="value" placeholder="搜索" background="transparent" />
        <div class="filterArea">
            <ul>
                <li>全部</li>
                <li>案件</li>
                <li>搜查</li>
                <li>其他</li>
            </ul>
            <div class="filterMore" @click="show = true">筛选</div>
        </div>
        <van-list
            class="content"
            v-model="loading"
            :finished="finished"
            finished-text="没有更多了"
            @load="onLoad"
        >
            <van-swipe-cell v-for="(item, index) in list" :key="index" class="collectItem">
                <div class="collectInner">
                    <span class="collectIcon"></span>
                    <div class="infos">
                        <div class="ids">{{ item.id }}</div>
                        <div class="num">持卡人：{{ item.num }}个</div>
                        <div class="time">{{ item.time }}</div>
                        <div class="location">{{ item.location }}</div>
                    </div>
                </div>
                <template #right>
                    <van-button square text="删除" type="danger" class="delete-button" />
                </template>
            </van-swipe-cell>
        </van-list>
        <van-popup v-model="show" position="bottom" :style="{ height: '60%' }">
            <div class="filterContent">
                <div class="label">采集类型</div>
                <ul class="filterInner">
                    <li>全部</li>
                    <li>案件</li>
                    <li>搜查</li>
                    <li>其他</li>
                </ul>
                <div class="label">持卡人</div>
                <ul class="filterInner">
                    <li>谢静星</li>
                    <li>张三</li>
                    <li>李四</li>
                </ul>
                <div class="label">采集日期</div>
                <ul class="filterInner">
                    <div class="timeSelect" @click="calendarShow = true">
                        <input type="text" readonly />-
                        <input type="text" readonly />
                    </div>
                    <van-calendar v-model="calendarShow" type="multiple" />
                </ul>
                <div class="footer">
                    <van-button type="default">重置</van-button>
                    <van-button type="default">筛选</van-button>
                </div>
            </div>
        </van-popup>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            list: [],
            loading: false,
            finished: false,
            value: '',
            calendarShow: false,
            show: false
        };
    },
    computed: {},
    watch: {},
    methods: {
        onLoad() {
            //加载列表
            for (let i = 0; i < 10; i++) {
                this.list.push({
                    id: 'CJ7483w3',
                    num: 23,
                    time: '2021-5-4 15:54:55',
                    location: '广东省广州市天河区秀水路125号'
                });
            }
            this.loading = false;
            this.finished = true;
        },
        onClickLeft() {
            this.$router.push({ path: '/record' });
        }
    }
};
</script>
<style lang="scss" scoped>
.filterArea {
    display: flex;
    padding: 20px 50px;

    ul {
        flex: 1;
        display: flex;
        li {
            margin-right: 30px;
        }
    }
}
.content {
    padding: 0 50px;
    background: #fff;

    .collectItem {
        padding: 40px 0 40px 40px;

        .collectInner {
            display: flex;
        }
    }
}

.filterContent {
    padding: 20px 20px 20px 60px;
    .filterInner {
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 300px;
            height: 120px;
            background: #dedede;
            margin: 0 30px 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .van-button {
            width: 50%;
        }
    }
}
</style>
