<template>
    <div class="container">
        <van-nav-bar title="采集银行卡数" left-arrow @click-left="onClickLeft" class="nav" />
        <van-search v-model="value" placeholder="请输入搜索关键词" input-align="center" />
        <van-list
            v-model="loading"
            :finished="finished"
            finished-text="没有更多了"
            @load="onLoad"
            class="cardList"
        >
            <img
                :src="item.url"
                v-for="(item, index) in list"
                :key="index"
                class="cardImg"
                @click="toCard"
            />
        </van-list>
    </div>
</template>

<script>
export default {
    data() {
        return {
            value: '',
            loading: false,
            finished: false,
            list: []
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push({ path: '/record' });
        },
        onLoad() {
            this.loading = false;
            this.finished = true;

            for (let i = 0; i < 10; i++) {
                this.list.push({
                    url: require('@assets/common/card_big.png')
                });
            }
        },
        toCard() {
            this.$router.push({ path: '/record/cardinfo' });
        }
    }
};
</script>
<style lang="scss" scoped>
.cardList {
    text-align: center;
    .cardImg {
        width: 954px;
        height: 599px;
        margin-top: -30%;
        &:first-child {
            margin-top: 0;
        }
    }
}
</style>
