<template>
    <div class="container">
        <van-nav-bar title="采集持卡人数" left-arrow @click-left="onClickLeft" class="nav" />
        <van-search v-model="value" placeholder="搜索" input-align="center" />
        <van-list
            v-model="loading"
            :finished="finished"
            finished-text="没有更多了"
            @load="onLoad"
            class="personList"
        >
            <div class="personItem" v-for="(person, index) in list" :key="index" @click="toPerson">
                <img src="@assets/common/id.png" />
                <div class="infos">
                    <div class="name">{{ person.name }}</div>
                    <div class="desc">
                        <span class="sex">{{ person.sex }}</span>
                        <span class="racial">{{ person.racial }}</span>
                    </div>
                    <div class="id">{{ person.id }}</div>
                </div>
            </div>
        </van-list>
    </div>
</template>

<script>
export default {
    data() {
        return {
            value: '',
            loading: false,
            finished: false,
            list: []
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push({ path: '/record' });
        },
        onLoad() {
            this.loading = false;
            this.finished = true;

            for (let i = 0; i < 10; i++) {
                this.list.push({
                    name: '陈惊喜',
                    sex: '男',
                    racial: '汉',
                    id: 320190198706150231
                });
            }
        },
        toPerson() {
            this.$router.push({ path: '/record/personinfo' });
        }
    }
};
</script>
<style lang="scss" scoped>
.personList {
    .personItem{
        margin-top: 40px;
        display: flex;
        background: #fff;
        padding: 40px 60px;

        img{
            width: 340px;
            height: 215px;
            margin-right: 40px;
        }

    }
}
</style>
