<template>
    <div class="container">
        <van-nav-bar title="持卡人详情" left-arrow @click-left="onClickLeft" />
        <div class="imgWrap">
            <img src="@assets/common/id.png" class="mainImg" />
        </div>

        <div class="content">
            <person-info></person-info>
        </div>
        <van-button type="default" size="large" class="button">删除本持卡人</van-button>

        <div class="title">采集的银行卡信息(3)</div>
        <div class="imgWrap">
            <van-swipe :autoplay="3000" width="549px">
                <van-swipe-item v-for="(image, index) in images" :key="index">
                    <img :src="image" />
                </van-swipe-item>
            </van-swipe>
        </div>
        <div class="content">
            <card-info></card-info>
        </div>
        <van-button type="default" size="large" class="button">删除本卡</van-button>
    </div>
</template>

<script>
import CardInfo from './CardInfo';
import PersonInfo from './PersonInfo';
export default {
    components: {
        CardInfo,
        PersonInfo
    },
    data() {
        return {
            images: [
                require('@assets/common/card.png'),
                require('@assets/common/card.png'),
                require('@assets/common/card.png')
            ]
        };
    },
    methods: {
        onClickLeft() {
            this.$router.push('/record/person');
        }
    }
};
</script>
<style lang="scss" scoped>
.imgWrap {
    text-align: center;
    height: 200px;
    position: relative;
    z-index: 1;
}
.mainImg {
    width: 549px;
    height: 294px;
    margin-bottom: -350px;
}

.content {
    background: #fff;
    padding-top: 250px;
}

.button {
    margin: 50px 0;
}
</style>
