<template>
    <div class="container">
        <div class="content">
            <van-cell-group>
                <van-field
                    required
                    v-model="form.type"
                    label="证件类型"
                    @click="showPicker = true"
                />
                <van-field required v-model="form.id" label="证件号码" />
                <van-field v-model="form.name" label="姓名" />
                <van-field v-model="form.sex" label="性别" @click="showPicker = true" />
                <van-field v-model="form.racial" label="民族" @click="showPicker = true" />
                <van-cell title="出生日期" :value="form.date" @click="calendarShow = true" />
                <van-calendar v-model="calendarShow" @confirm="calendarConfirm" />
                <van-field v-model="form.location" label="住址" />
                <van-field v-model="form.department" label="签发机关" @click="showPicker = true" />
                <van-cell title="有效期限" :value="form.validateDate" @click="show = true" />
                <van-calendar v-model="show" type="range" @confirm="onConfirm" />
            </van-cell-group>

            <van-popup v-model="showPicker" round position="bottom">
                <van-picker
                    show-toolbar
                    :columns="list"
                    @cancel="showPicker = false"
                    @confirm="onConfirm"
                />
            </van-popup>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showPicker: false,
            list: ['男', '女'],
            form: {
                id: '4234234234234',
                name: '陈惊喜',
                sex: '男',
                racial: '汉',
                department: '广州市公安局',
                location: '广州市越秀区',
                date: '2001-01-01',
                type: '居民身份证',
                validateDate: '2010-10-01至2020-10-01'
            },
            show: false,
            fieldValue: '',
            cascaderValue: '',
            options: [
                {
                    text: '浙江省',
                    value: '330000',
                    children: [{ text: '杭州市', value: '330100' }]
                },
                {
                    text: '江苏省',
                    value: '320000',
                    children: [{ text: '南京市', value: '320100' }]
                }
            ],
            calendarShow: false
        };
    },
    methods: {
        onConfirm(value) {
            //确认
            this.form.type = value;
            this.showPicker = false;
        },
        onFinish({ selectedOptions }) {
            this.show = false;
            this.form.location = selectedOptions.map(option => option.text).join('/');
        },
        formatDate(date) {
            return `${date.getMonth() + 1}/${date.getDate()}`;
        },
        calendarConfirm(date) {
            this.calendarShow = false;
            this.form.date = this.formatDate(date);
        }
    }
};
</script>
<style lang="scss" scoped></style>
