<template>
    <div class="container">
        <van-nav-bar title="记录" class="nav" :border="false">
            <template #right>
                <van-icon name="plus" />
            </template>
        </van-nav-bar>
        <van-search v-model="value" placeholder="搜索" background="transparent" />
        <div class="content">
            <ul class="fastList">
                <li @click="toCard">
                    <img src="@assets/record/cardIcon.png" />
                    <div class="label">采集银行卡数</div>
                    <div class="num">1582</div>
                </li>
                <li @click="toPerson">
                    <img src="@assets/record/personIcon.png" />
                    <div class="label">采集持卡人数</div>
                    <div class="num">18</div>
                </li>
                <li @click="toCard">
                    <img src="@assets/record/noCardIcon.png" />
                    <div class="label">非本人持卡数</div>
                    <div class="num">34</div>
                </li>
            </ul>
            <van-row>
                <van-col span="14">采集记录</van-col>
                <van-col span="6" offset="4">
                    <router-link to="/record/collect">查看全部</router-link></van-col>
            </van-row>
            <ul class="classifyList">
                <li>
                    <img src="@assets/record/case.png" />
                    <span class="label">案件</span>
                    <span class="num">698</span>
                </li>
                <li>
                    <img src="@assets/record/search.png" />
                    <span class="label">搜查</span>
                    <span class="num">698</span>
                </li>
                <li>
                    <img src="@assets/record/extra.png" />
                    <span class="label">其他</span>
                    <span class="num">698</span>
                </li>
            </ul>
        </div>
        <van-tabbar route>
            <van-tabbar-item icon="home-o" to="/service">服务</van-tabbar-item>
            <van-tabbar-item icon="search" to="/record">记录</van-tabbar-item>
            <van-tabbar-item icon="friends-o" to="/user">我的</van-tabbar-item>
        </van-tabbar>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            value: ''
        };
    },
    computed: {},
    watch: {},
    methods: {
        toPerson() {
            this.$router.push({path: '/record/person'})
        },
        toCard(){
            this.$router.push({path: '/record/card'})
        }
    }
};
</script>
<style lang="scss" scoped>
.content{
    padding: 0 50px;

    .fastList{
        display: flex;
        justify-content: space-between;

        li{
            padding: 20px;
            background: #fff;
        }
    }

    .classifyList{
        li{
            margin-top: 40px;
            background: #fff;
            display: flex;
            align-items: center;
        }
    }
}
</style>
