<template>
    <div id="login" class="container">
        <div class="banner">
            <img :src="logo" />
        </div>
        <div class="content">
            <div class="userName">
                <input type="text" placeholder="请输入警员证号" />
            </div>
            <div class="password">
                <input type="password" placeholder="请输入您的密码" />
            </div>
            <van-button type="info" size="large" to="service">登录</van-button>
        </div>
        <!-- <div class="footer">忘记密码或没有账号？<a>联系管理员</a></div> -->
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            logo: require('@assets/login/login.png')
        };
    },
    computed: {},
    watch: {},
    methods: {
        handleClick() {
            //window.android.androidTestFunction1('s');
            console.log(this.value);
        }
    }
};
</script>
<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0 0 900px;
    
    img{
        width: 1080px;
        height: 754px;
    }
}

.content {
    flex: 1;
    margin: 0 20%;
    input {
        height: 122px;
        width: 100%;
        padding-left: 120px;
        border-radius: 2px;
        font-size: 36px;
        border-color: transparent;
        outline: none;
    }

    > * {
        margin-top: 50px;
    }
}

.footer {
    flex: 0 0 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
</style>
